@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
      font-family: caramel;
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Super-Caramel.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .benefit-card{
        @apply p-8 shadow-lg shadow-negro/30 rounded-md transition duration-300 ease-in-out
            hover:bg-roscuro
    } .benefit-card p{
        @apply mt-3 text-xl lg:text-lg
    } .benefit-card h2{
        @apply font-bold text-2xl
    }

    .link-style{
        @apply font-kanit text-roscuro underline underline-offset-4
    }

    .error-notice{
        @apply mt-3 font-kanit text-rclaro
    }

    .btn-principal{
        @apply px-5 py-2 font-kanit text-xl text-[#39010B] border border-[#39010B] rounded-md bg-white
            transition delay-150 duration-100 ease-in-out hover:-translate-y-1
                hover:shadow-lg
                hover:border-roscuro
                hover:text-roscuro

                focus:-translate-y-1
                focus:shadow-lg
                focus:outline-2
                focus:outline-roscuro
                focus:outline-offset-4
                focus:text-roscuro
                focus:border-roscuro
                ;
    }

    .btn-secundario{
        @apply px-5 py-2 font-kanit text-xl bg-roscuro text-blanco border-2 border-roscuro rounded-md
            transition delay-150 duration-100 ease-in-out hover:-translate-y-1
                hover:shadow-lg
                hover:border-negro
                focus:-translate-y-1
                focus:shadow-lg
                focus:outline-2
                focus:outline-negro
                focus:outline-offset-4
                focus:border-negro
            ;
    }

}
