@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Caramel';
        /* font-style: normal;
        font-weight: 400;
        font-display: swap; */
        src: url(./fonts/Super-Caramel.ttf) format('ttf');
    }
}
