@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
      font-family: caramel;
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Super-Caramel.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .benefit-card{
        @apply p-8 shadow-lg shadow-negro/30 rounded-md transition duration-300 ease-in-out
            hover:bg-roscuro
    } .benefit-card p{
        @apply mt-3 text-xl lg:text-lg
    } .benefit-card h2{
        @apply font-bold text-2xl
    }

    .link-style{
        @apply font-kanit text-roscuro underline underline-offset-4
    }

    .error-notice{
        @apply mt-3 font-kanit text-rclaro
    }

    .btn-principal{
        @apply px-5 py-2 font-kanit text-xl text-[#39010B] border border-[#39010B] rounded-md bg-white
            transition delay-150 duration-100 ease-in-out hover:-translate-y-1
                hover:shadow-lg
                hover:border-roscuro
                hover:text-roscuro

                focus:-translate-y-1
                focus:shadow-lg
                focus:outline-2
                focus:outline-roscuro
                focus:outline-offset-4
                focus:text-roscuro
                focus:border-roscuro
                ;
    }

    /*
        .button-30 {
        align-items: center;
        appearance: none;
        background-color: #FCFCFD;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395A;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
        }

        .button-30:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        }

        .button-30:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
        }

        .button-30:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
        }
    */


    .btn-secundario{
        @apply px-5 py-2 font-kanit text-xl bg-roscuro text-blanco border-2 border-roscuro rounded-md
            transition delay-150 duration-100 ease-in-out hover:-translate-y-1
                hover:shadow-lg
                hover:border-negro
                focus:-translate-y-1
                focus:shadow-lg
                focus:outline-2
                focus:outline-negro
                focus:outline-offset-4
                focus:border-negro
            ;
    }

}
